
h2 {
    text-align: center;
}

h3 {
    font-weight: $font-weight--thin;
    letter-spacing: 1px;
}

.no-image {
    margin: 0 auto;
    list-style-type: none;
    text-align: center;
  }

  .home-button {
    text-decoration: none;
    color: $white;
    background-color: $main-color;
    display: block;
    padding: 1em 1em;
    border-radius: 5px;
    width: 7em;
    margin: 0 auto;
    font-weight: $font-weight--thin;
    letter-spacing: 1px;
  }