
h2 {
    text-align: center;
}

h3 {
    font-weight: $font-weight--thin;
    letter-spacing: 1px;
}

.no-image {
    margin: 0 auto;
    list-style-type: none;
    text-align: center;
  }



.search {
    text-decoration: none;
    color: #fff;
    background-color: #296889;
    display: block;
    padding: 1.4em 1.4em;
    border-radius: 5px;
    text-align: center;
    width: 75%;
    margin: 0 auto;

  }

  .option-title {
      text-transform: capitalize;
  }

  .home-button {
    width: 35%;
    margin: 0 auto;
    max-width: 250px;
  }

  .home-button  {
      font-weight: $font-weight--thin;
  }

  

  