.searchbutton {
    width: 6em;
    height: 5.3em;
    border-radius: 0 5px 5px 0;
    background-color: $main-color;
    border-left: none;
    color: #fff;
    outline: none;
    font-family: $helvetica-font-stack;
    font-weight: $font-weight--thin;
    cursor: pointer;
    
  }
  
  .nav-list {
    display: flex;
    flex-direction: column;
    @include mq(medium) {
        flex-direction: row;
    }
   

  }
  

  .option {
    text-decoration: none;
    color: $white;
    background-color: $main-color;
    display: block;
    padding: 1em 1em;
    border-radius: 5px;
   
  }

  li.option {
    padding: 0px;
    background: none;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 1em;
    font-weight: $font-weight--thin;
    letter-spacing: 1px;
    @include mq(medium) {
        width: 25%;
        padding: 0px;
    }


  }