/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
} */


.image-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  max-width: 1024px;
  justify-content: space-evenly;
}


.image {
  margin: 10px;
}

.searchform {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;

}

.searchform > form {
  display: flex;
  flex-direction: row;
}

.searchphoto {
  margin-top: 1em;
  width: 100%;
  height: 3em;
  border-radius: 5px 0 0 5px;
  border: 1px solid #A9A9AD;
  border-right: none;
  margin: 0 auto;
  text-align: center;
  font-size: 1.2em;
  outline: none;
}

.searchphoto::-webkit-input-placeholder {
  font-size: .75em;
  color: lightgray;
}

.searchbutton {
  width: 6em;
  height: 5.3em;
  border-radius: 0 5px 5px 0;
  background-color: #296889;
  border-left: none;
  color: #fff;
  outline: none;
}

.nav-list {
  display: flex;
  width: 50%;
  margin: 0px auto;
  justify-content: space-between;
}

.option {
  list-style-type: none;
  text-decoration: none;
  color: #fff;
  width: 5em; 
  height: 3em;
  background-color: #296889;
  border-radius: 5px;
  

}

